#root {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.isActiveTime {
    font-family: 'Alegreya';
    font-size: 40px;
    color: #fff;
    margin: 0 !important;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.isStandbyTime {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    margin: 0 !important;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.standbyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.activeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.isActiveWeather {
    font-family: 'Oswald';
    font-size: 40px;
    color: #fff;
    margin: 0 !important;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.isStandbyWeather {
    font-family: 'Oswald';
    font-weight: 200;
    font-size: 25px;
    color: #fff;
    margin: 0 !important;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.weatherDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
  font-family: 'Alegreya';
  font-size: 30px;
  color: #4f4f4f;
  margin-left: 30px;
}
h2 {
  font-family: 'Alegreya';
  font-size: 20px;
  color: #4f4f4f;
  margin-left: 30px;
}
p {
  font-family: 'Lato';
  font-size: 15px;
  color: #4f4f4f;
  margin-left: 25px;
}
a {
  font-family: 'Lato';
  font-size: 15px;
  color: #4f4f4f;
  margin-left: 25px;
  text-decoration: none;
  padding: 0 !important;
  margin: 0 !important;
}

.icon {
  font-size: 25px;
  color: #b2b2b2;
  margin-right: 15px;
}
